.main-activity-section {
  padding: var(--main-padding-large);
  background-color: var(--main-light-grey);

  h2,
  h3 {
    font-size: var(--main-title);
  }

  img {
    box-shadow: 2px 5px 9px -1px rgba(0, 0, 0, 0.44);
    background-color: white;
    height: 425px;
    width: 425px;
    border-radius: var(--main-image-radius);
  }
}

.main-activity-card {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 425px;
}

.main-activity-card-reverse {
  flex-direction: row-reverse;
}

.main-activity-card-text {
  box-shadow: 2px 5px 9px -1px rgba(0, 0, 0, 0.44);

  height: 80%;
  padding-left: 3%;
  padding-right: 3%;
  max-width: 1100px;
  background-color: white;
  border-top-right-radius: var(--main-image-radius);
  border-bottom-right-radius: var(--main-image-radius);
  display: flex;
  flex-direction: column;

  h3 {
    margin-top: 3%;
  }
  p {
    margin-top: 1.5%;
    font-size: var(--main-paragraphe);
    font-weight: 300;
    text-overflow: ellipsis;
  }
}

.main-activity-card-text-reverse {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--main-image-radius);
  border-bottom-left-radius: var(--main-image-radius);
}
