.main-event-section{
    display: flex;
    flex-direction: row;
    height: 650px;
}

.main-event-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: var(--main-padding-large);
    padding-right: var(--main-padding-large);
    background-color: var(--main-red);
    width: 30%;
    height: 100%;
    color: var(--main-white);

    h3{
        font-size: var(--main-title);
        margin-bottom: 5%;
    }

    p{
        text-align: center;
        width: 70%;
        margin-bottom: 5%;
    }
}

.main-event-image{
    background-image: url("../media/hero-banner-mjc.png");
    width: 70%;
    height: 100%;
}