footer{
    height: 45px;
    padding-left: var(--main-padding-large);
    padding-right: var(--main-padding-large);
    display: flex;
    gap: 1%;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}