nav{
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--main-padding-large);
    padding-right: var(--main-padding-large);

    border-bottom: 3px solid var(--main-light-grey);
}

.navbar-title{
    font-family: "Anton";
    font-weight: 400;
    font-size: var(--main-title);
    color: var(--main-red);
    text-shadow: none;
}

button{
    text-shadow: 1px 1px var(--main-dark-grey);
    font-weight: 100;
}