.main-place-section {
  height: 500px;
  display: flex;
  flex-direction: row;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: var(--main-padding-large);

  margin-bottom: 5%;
  h3 {
    text-shadow: none;
    display: block;
    margin-bottom: 5%;
    font-size: var(--main-title);
  }
}

.main-place-section-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 30%;
  font-size: var(--sub-title);

  p,
  img {
    margin-left: 5%;
  }

  span {
    font-weight: 500;
  }

  p {
    text-shadow: none;
    font-weight: 350;
  }
}

.main-place-section-plan {
    margin-top: 5%;
  width: 70%;
  height: 95%;
}

.main-place-section-simple-text {
  margin-bottom: 5%;
}
