#root {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

/* Variable */
:root {
    /* Black Color */
    --basics-black-color: #303A4D;

    /* Grey */
    --light-grey-color: #F1F2F8;
    --medium-grey-color: #C9CCDA;
    --dark-grey-color: #808291;

    /* Red */
    --light-red-color: #CC242E;
    --medium-red-color: #B3232C;
    --dark-red-color: #991F26;

    /* FONT BASICS */
    .quattrocento-regular {
        font-family: "Quattrocento", serif;
        font-weight: 400;
        font-style: normal;
    }

    .quattrocento-bold {
        font-family: "Quattrocento", serif;
        font-weight: 700;
        font-style: normal;
    }

    .exo-2,
    a {
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    /* BASICS RULES */
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        font-family: "Quattrocento", serif;
        font-weight: 400;
        font-style: normal;
    }

    button,
    .basics-subtext {
        font-family: "Quattrocento", serif;
        font-weight: 700;
        font-style: normal;
    }

    p {
        color: #303A4D;
    }

    .main-button {
        border: none;
        margin: 0 auto;
        width: 125px;
        height: 40px;
        border-radius: 20px;
    }
}


a:hover,
button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--basics-black-color);
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width:768px) {

    /* Font Size */
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 28px;
    }

    button,
    p {
        font-size: 18px;
        /* 14px pour les subtitle */
    }
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width:1024px) {}

/* Desktop */
@media screen and (min-width: 1025px) and (max-width:1920px) {


    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 28px;
    }

    button,
    p {
        font-size: 16px;
        /* 15px pour les subtitle */
    }
}

/* Desktop Plus */
@media screen and (min-width: 1921px) {}